body {
    background-image: url('https://sxcontent9668.azureedge.us/cms-assets/assets/Desktop_Homepage_SDA_0_A_South_West_Hill_Horz_2971_b977ff85c8.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-family: "Unbounded", cursive;
    color: whitesmoke;
    padding-left: 5%;
}

h2 {
    font-family: 'Unbounded', cursive;
    color: whitesmoke;
}

h3 {
    font-family: 'Unbounded', cursive;
    color: whitesmoke;
    position: relative;
}

.container {
    text-align: center;
}

.inner-container {
    position: relative;
    bottom: 40%;
    left: 50px;
}

#nav-links li {
    display: inline-block;
    position: relative;
    padding: 20px;
    color: whitesmoke;
    font-family: 'Unbounded', cursive;
    padding-left: 0px;
}

